[Unit]
Description=Kestrel webserver for sets.pizzaboxer.xyz/api

[Service]
WorkingDirectory=/var/www/pizzaboxer.xyz/sets/api
ExecStart=/usr/bin/dotnet RobloxSetArchive.Api.dll --urls=http://localhost:5001/
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-example
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
